.root{
    li{
      display: inline-block;




    }
    a{
      display: inline-block;
      text-align: center;
      line-height: 42px;
      width: 45px;
      height: 45px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      transition: 0.25s all ease-in-out;

      &:hover{
        background: #fe5f1e;
        color: #fff;
      }
    }
  :global{
    .selected{
      a{
        background: #fe5f1e;
        color: white;
      }
    }
  }
}